<form #editForm="ngForm" (ngSubmit)="setUserProfile(editForm)">
  <h1>Use the form below to update your profile</h1>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" [ngModel]="userProfile.name" />
  <label for="contact">Contact</label>
  <input
    type="text"
    name="contact"
    id="contact"
    [ngModel]="userProfile.contact"
  />
  <label for="bio">Bio</label>
  <input type="text" name="bio" id="bio" [ngModel]="userProfile.bio" />
  <button>Update</button>
</form>
<!-- ="userProfile.bio"="userProfile.contact"="userProfile.name" -->
